<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <ul id="errors">
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.text_field :name, :placeholder => 'Name' %>

      <%= f.file_field :picture %>
      <input id="item_picture_placeholder" placeholder="Choose File"
             type="text" readonly="readonly" value="<%= @item.picture %>">

      <%= f.text_field :value, :placeholder => 'Value (USD)' %>
      <%= f.text_area :description, :placeholder => 'Description...' %>

      <div class="actions">
        <%= f.submit @item.new_record? ? 'Add Item' : 'Update Item' %>
      </div>
    </div>

    <div class="large-6 columns">
      <img id="item_picture_preview" src="<%= @item.picture %>">
    </div>
  </div>

<% end %>
