<% @items.each_with_index do |item, i| %>
  <%if (i+1) % 4 == 1%>
    <div class="row">
  <% end %>
    <div class="col-lg-3" style="">
      <h2><%= item.name%> <%== '&nbsp;' %></h2>
      <div style="border: 1px solid #0D6759; border-radius: 3px; padding: 10px">
        <center>
          <p><img src="<%=item.picture%>" style="border-radius: 3px; max-width: 100%"></p>
          <a style="color: white" class="btn btn-primary" href="/items/<%=item.id%>">View details &raquo;</a>
        </center>
      </div>
    </div>
  <%if (i+1) % 4 == 0 || i == @items.size-1%>
    </div>
  <% end %>
<% end %>

<!--
<td>< = link_to 'Show', item %></td>
<td>< = link_to 'Edit', edit_item_path(item) %></td>
<td>< = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->

<% if current_user.present? %>
  <div class="row" style="visibility: hidden">
    <div class="col-lg-12">
      <center>
        <%= form_for(@item) do |f| %>
          <%= f.file_field :picture, :capture => 'camera', :accept => 'image/*' %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <% end %>
      </center>
    </div>
  </div>
<% end %>
