<h2><%= @item.name %></h2>

<div class="row">
  <div class="large-6 columns">

    <div class="row">
      <div class="large-8 columns">
        <p><%= @item.location %></p>
        <p>$ <%= @item.value %></p>
      </div>

      <div class="large-4 columns text-right">
        <%= form_for(@trade) do |f| %>
          <%= f.hidden_field :target_item_id, :value => @item.id %>
          <%= f.hidden_field :target_user_id, :value => @item.user.id %>
          <%= f.submit 'Propose Trade', :id => 'trade_submit', :class => 'button' %>
        <% end %>
      </div>
    </div>

    <p><%= @item.description %></p>
  </div>

  <div class="large-6 columns">
    <%= image_tag @item.picture_640 %>
  </div>
</div>
