<h2>My Trades</h2>

<ul class="large-block-grid-4">
  <% @items.each do |item| %>
    <li>
      <span class="item_name"><%= item.name %></span>
      <%= link_to item do %>
        <%= image_tag item.picture_320 %>
      <% end %>
      <div class="item_footer">
        <small>
          <%= item.trades.count %> trades
          <strong> ~ <%= item.pending_trades.count %> pending</strong>
        </small>
      </div>
    </li>
  <% end %>
</ul>
