<!DOCTYPE html>
<html>
<head>
  <title>Grifter</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <style>
    #nb a { color: white }
    #nb a:hover { background-color: #0D6759 }
    .btn.btn-primary { background-color: #A0C55F; border-color: #0D6759; }
    .btn.btn-primary:hover { background-color: #0D6759 }
    .btn.btn-primary.item-value { background-color: #0D6759; cursor: text }
    .btn.btn-primary.item-value:hover { background-color: #0D6759; cursor: text }
  </style>
</head>
<body>

    <div id="nb" class="navbar navbar-default navbar-static-top" style="background: #A0C55F; border-color: #0D6759; color: white">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-family: 'Denk One'; font-size: 25px">grifter</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/items">Browse Items</a></li>
            <% if current_user.present? %>
              <li><a href="#" id="pub_item">Publish an Item</a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <a><%= current_user.name.split(' ').first %></a>
              </li>
              <li>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container content" style="border-radius: 3px">
      <%= yield %>
    </div>

    <script>
    $(document).ready(function(){
      $('#pub_item').click(function(event){
        event.preventDefault();
        $('#item_picture').click()
      })

      $('#sign_in').click(function(event){
        event.preventDefault();
        navigator.geolocation.getCurrentPosition(function(pos) {
          window.location.href = '/auth/facebook?state=' + pos.coords.latitude + ',' + pos.coords.longitude;
        });
      });
    });
  </script>
</body>
</html>
