<!DOCTYPE html>
<html>
<head>
  <title>Grifter</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    #nb a { color: white }
  </style>
</head>
<body>

    <div id="nb" class="navbar navbar-default navbar-static-top" style="background: #A0C55F; border-color: #0D6759; color: white">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-family: 'Denk One'; font-size: 25px">grifter</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/items">Browse Items</a></li>
            <li><a href="/items/new">Publish an Item</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <a><%= current_user.name.split(' ').first %></a>
              </li>
              <li>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script>
    $(document).ready(function(){
      $('#sign_in').click(function(event){
        event.preventDefault();
        navigator.geolocation.getCurrentPosition(function(pos) {
          window.location.href = '/auth/facebook?state=' + pos.coords.latitude + ',' + pos.coords.longitude;
        });
      });
    });
  </script>
</body>
</html>
